*.log
*.pyc
__pycache__/
.env
.git/
.idea/
env.yaml
.tfstate
.tfstate.backup
/.terraform
infra/.terraform.lock.hcl
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup

__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis